@import "./defs.scss";
@import "./loader.scss";

:root {
  color-scheme: only light;
}

body {
  background-color: $c-bg;
  margin: 0;
  padding: 0;
  color: $c-text;
}

header {
  text-align: center;
  padding: 1em;
}

section {
  margin: 1em auto;
  max-width: 60em;
  padding: 0 1em;
}

footer {
  background-color: $c-bg-footer;
  margin: 0;
  padding: 2em 1em;
}

.collapsible {
  .collapsible-controller {
    display: none;
  }

  label {
    color: $c-link;
    text-decoration: underline;
    cursor: pointer;
  }

  .collapsible-target {
    display: none;
  }

  .collapsible-controller:checked ~ .collapsible-target {
    display: initial;
  }
}

a {
  color: $c-link;

  &:visited {
    color: $c-link-visited;
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
