// definitions
$screen-width-small: 786px;
$screen-width-medium: 1024px;

$c-black: #343434;
$c-black-dark: #101010;
$c-white: #ffffff;
$c-highlight1: #3391ff;
$c-highlight2: #7346db;

$c-bg: $c-black;
$c-bg-footer: $c-black-dark;
$c-text: $c-white;
$c-link: $c-highlight1;
$c-link-visited: $c-highlight2;
