@import "./common.scss";

section {
  text-align: center;
  margin: min(7em, 15vw) auto;
}

img {
  display: block;
  margin: 0 auto;
}

img.ash_caution {
  width: min(60%, 350px);
}
img.ash_caution:hover {
  filter: contrast(0.88) brightness(1.2);
}

img.structure {
  width: 100%;
  max-width: 550px
}

header > img {
  width: 80%;

  &.ash_face {
    max-width: 700px;
  }
  &.ash_logo {
    margin-top: 5%;
    max-width: 500px;
  }
}

footer .collapsible label {
  display: block;
}
